<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="PacmanX" value="13" />
    <add key="PacmanY" value="26" />
    <add key="InkyX" value="13" />
    <add key="InkyY" value="12" />
    <add key="PinkyX" value="14" />
    <add key="PinkyY" value="12" />
    <add key="Width" value="28" />
    <add key="Heigth" value="32" />
    <add key="Path" value="\\Map\\Map.txt"/>
    <add key="ImagesPathInky" value="\\Images\\Inky.jpg"/>
    <add key="ImagesPathPinky" value="\\Images\\Pinky.jpg"/>
    <add key="ImagesPathPacman" value="\\Images\\Pacman.jpg"/>
  </appSettings>
</configuration>